@charset "UTF-8";

body{
    justify-self: center;
    margin: 5%;
    background-image: linear-gradient(to right,#F2E205, #F20530);
}
h1{ 
    color: #930000;
    text-align: center;
}
p {
    color: #180000;
}

img{
    width: 300px;
    height: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 3%;
}
.lado {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voltar {
    width: 150;
    height: auto;
}
.lado2 {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    justify-content: center;
}
a {
    color: #730202
}
abbr{
    forced-color-adjust: #730202;
}
main{
    background-color: #f7f7f7;
    margin: auto;
    width: 700px;
    border-radius: 5%;
    padding: 17px;
}