@charset "UTF-8";

body{
    justify-self: center;
    margin: 5%;
    background-color: rgb(39, 39, 39);
}
h1{
    color: blanchedalmond;
}
p {
    color: rgb(195, 226, 253);
}

img{
    width: 300px;
    height: 200px;
    max-width: 100%;
    height: auto
}
.lado {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voltar {
    width: 150;
    height: auto;
}
.lado2 {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    justify-content: center;
}
a {
    color: chartreuse;
}

